@model KurulumWeb.Models.UserViewModel45
@using KurulumWeb.Resources
@{
    ViewBag.Title = "ManageAzure";
    Layout = "~/Views/Shared/RiconAdminLayoutPage.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<head>
    <!--#region Style-->
    <style>
        td.edit-mode {
            background-color: #f3f3f3; /* Özel bir arka plan rengi */
            color: #333; /* Özel bir metin rengi */
            font-weight: bold; /* Kalın metin */
            border: 1px solid #ccc; /* Kenarlık ekleyin */
            padding: 4px; /* İç boşluğu ayarlayın */
        }

            /* Düzenleme modunda olan hücrelerin içindeki input alanlarının stilini belirle */
            td.edit-mode input.edit-password {
                border: 1px solid #999; /* Kenarlık ekleyin */
                padding: 2px; /* İç boşluğu ayarlayın */
            }

        /* Kaydet ve İptal düğmelerinin stili */
        button.save-button,
        button.cancel-button {
            display: none; /* Başlangıçta gizli olsun */
            /* Diğer stil kuralları ekleyebilirsiniz */
        }
    </style>
    <!--#endregion-->
</head>
<!--#region Gövde -->
<div class="main-content app-content mt-0">
    <div class="side-app ">
        <div class="main-container justify-content-center container-fluid">
            <div class="page-header"></div>
            <div class="row justify-content-center">
                <!--#region User Tablosu-->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card" style="margin-block-start:6.99em;">
                            <div class="card-header">
                                <h3 class="card-title">@Resources.L319</h3>
                            </div>
                            <div class="card-body">
                                <button id="table2-new-row-button" style="float:right" class="btn btn-primary mb-4">@Resources.L320</button>

                                <div class="table-responsive">
                                    <table class="table table-bordered border text-nowrap mb-0" id="new-edit">
                                        <thead>
                                            <tr>
                                                <th>@Resources.L343</th>
                                                <th>@Resources.L344</th>
                                                <th>@Resources.L345</th>
                                                <th>@Resources.L375</th>
                                                <th>@Resources.L378</th>
                                                <th>@Resources.L346</th>
                                                <th>@Resources.L347</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var user in Model.Users)
                                            {
                                                <tr>
                                                    <td>@user.Username</td>
                                                    <td>
                                                        <span class="password-masked">**********</span>
                                                        <input type="hidden" class="original-password" value="@user.Password">
                                                    </td>
                                                    <td class="user-type">
                                                        @if (user.IsAdmin == true)
                                                        {
                                                            <span>Admin</span>
                                                        }
                                                        else
                                                        {
                                                            <span>User</span>
                                                        }
                                                    </td>
                                                    <td>@user.Company_Name</td>
                                                    <td>@user.Company_Domain</td>
                                                    <td>@user.Creator</td>
                                                    <td>@user.Create_DateTime</td>
                                                    <td>
                                                        <!-- Edit düğmesi -->
                                                        <button class="btn btn-sm btn-primary edit-button" id="edit">
                                                            <i class="fas fa-edit"></i> <!-- Edit ikonu -->
                                                        </button>
                                                        <!-- Kaydet düğmesi (başlangıçta gizli) -->
                                                        <button class="btn btn-sm btn-success save-button" style="display: none;">
                                                            <i class="fas fa-check"></i> <!-- Kaydet ikonu -->
                                                        </button>
                                                        <!-- İptal düğmesi (başlangıçta gizli) -->
                                                        <button class="btn btn-sm btn-danger cancel-button" style="display: none;">
                                                            <i class="fas fa-times"></i> <!-- İptal ikonu -->
                                                        </button>
                                                        <!-- Delete düğmesi -->
                                                        <button class="btn btn-sm btn-danger delete-button">
                                                            <i class="fas fa-trash"></i> <!-- Delete ikonu -->
                                                        </button>
                                                        <input type="hidden" class="user-id" value="@user.User_ID" />
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--#endregion-->
                <!--#region Yeni User Ekleme Modal-->
                <div class="modal fade" id="newRecordModal" tabindex="-1" role="dialog" aria-labelledby="newRecordModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="newRecordModalLabel">@Resources.L320</h5>
                                <button aria-label="Close" class="btn-close close-button" data-bs-dismiss="modal" type="button" id="closeModal" style="color:red"><i class="fas fa-times"></i></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="username">@Resources.L343</label>
                                    <input type="text" class="form-control" id="username">
                                </div>
                                <div class="form-group">
                                    <label for="password">@Resources.L344</label>
                                    <input type="text" class="form-control" id="password">
                                </div>
                                <div class="form-group">
                                    <div class="error-message" style="color: red;"></div>
                                </div>
                                <div class="form-group">
                                    <label for="company">@Resources.L375</label>
                                    <input type="text" class="form-control" id="company" name="Company_Name" required>
                                    <span class="text-danger" id="companyError" style="display:none;">@Resources.L376</span>
                                </div>
                                <div class="form-group">
                                    <label for="domain">@Resources.L378</label>
                                    <input type="text" class="form-control" id="domain" name="Company_Domain" required>
                                    <span class="text-danger" id="domainError" style="display:none;">@Resources.L376</span>
                                </div>
                                <div class="form-group">
                                    <label for="type">@Resources.L345 &nbsp; &nbsp;</label>
                                    <div class="btn-group" id="typeButtons" role="group">
                                        <button type="button" class="btn btn-light" data-type="User">User</button>
                                        <button type="button" class="btn btn-light" data-type="Admin">Admin</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="new-creator">@Resources.L346:</label>
                                    <input type="text" class="form-control" id="new-creator" placeholder="Creator" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="new-create-date">@Resources.L347:</label>
                                    <input type="text" class="form-control" id="new-create-date" placeholder="Create Date Time" readonly>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="save-new-record">@Resources.L294</button>
                                <button type="button" class="btn close-button btn-secondary" data-bs-dismiss="modal">@Resources.L261</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--#endregion-->
                <!--#region Modallar-->
                <div class="modal fade" id="customModal" tabindex="-1" role="dialog" aria-labelledby="customModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="customModalLabel"></h5>
                            </div>
                            <div class="modal-body"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeCustomModal">@Resources.L261</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteConfirmationModalLabel">@Resources.L292</h5>
                                <button aria-label="Close" class="btn-close close-button" data-bs-dismiss="modal" type="button" id="closeModal" style="color:red"><i class="fas fa-times"></i></button>
                            </div>
                            <div class="modal-body">
                                @Resources.L333
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" id="btnConfirmDelete">@Resources.L279</button>
                                <button type="button" class="btn close-button btn-secondary" data-bs-dismiss="modal">@Resources.L280</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="customModal1" tabindex="-1" role="dialog" aria-labelledby="customModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="customModalLabel"></h5>
                            </div>
                            <div class="modal-body"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeCustomModal">@Resources.L261</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal" id="successModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">@Resources.L336</h4>
                                <button aria-label="Close" class="btn-close close-button" data-bs-dismiss="modal" type="button" id="closeModal" style="color:red"><i class="fas fa-times"></i></button>
                            </div>
                            <div class="modal-body">
                                @Resources.L334
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeCustomModal22">@Resources.L261</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="succesEditModal" tabindex="-1" role="dialog" aria-labelledby="succesEditModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="succesEditModalLabel">@Resources.L336</h5>
                            </div>
                            <div class="modal-body" id="succesEditModalBody"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="succesEditModalLabel">@Resources.L261</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal" id="deleteSuccessModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">@Resources.L336</h4>
                                <button aria-label="Close" class="btn-close close-button" data-bs-dismiss="modal" type="button" id="closeDeleteSuccessModal" style="color:red"><i class="fas fa-times"></i></button>
                            </div>
                            <div class="modal-body">
                                @Resources.L335
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn close-button btn-secondary" data-bs-dismiss="modal">@Resources.L261</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--#endregion-->
            </div>
        </div>
    </div>
</div>
<!--#endregion-->
<!--#region BACK-TO-TOP -->
<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>
<!--#endregion-->
<!--#region JQUERY JS -->
<script>
    // Butonlara tıklama olaylarını dinle
    document.querySelectorAll("#typeButtons button").forEach(function (button) {
        button.addEventListener("click", function () {
            // Tüm butonlardan "btn-primary" sınıfını kaldır
            document.querySelectorAll("#typeButtons button").forEach(function (btn) {
                btn.classList.remove("btn-primary");
            });

            // Tıklanan butona "btn-primary" sınıfını ekle
            this.classList.add("btn-primary");
        });
    });
</script>
<script>
    function showModal(title, message) {
        var modal = $('#customModal');
        modal.find('.modal-title').text(title);
        modal.find('.modal-body').text(message);
        modal.modal('show');

        modal.on('hidden.bs.modal', function () {
            location.reload();
        });
    }
    function showModal(title, message) {
        var modal = $('#customModal1');
        modal.find('.modal-title').text(title);
        modal.find('.modal-body').text(message);
        modal.modal('show');

        modal.on('hidden.bs.modal', function () {
            location.reload();
        });
    }
    function showModal(title, message) {
        var modal = $('#customModal22');
        modal.find('.modal-title').text(title);
        modal.find('.modal-body').text(message);
        modal.modal('show');

        modal.on('hidden.bs.modal', function () {
            location.reload();
        });
    }
    document.getElementById("closeCustomModal22").addEventListener("click", function () {
        $('#successModal').modal('hide');
    });
</script>

<script>
    // Başlangıçta User tipini seçili hale getirin
    document.querySelector("#typeButtons button[data-type='User']").classList.add("active");

    // Type butonlarına tıklama dinleyici ekleyin
    document.querySelectorAll("#typeButtons button").forEach(function (button) {
        button.addEventListener("click", function () {
            // Tüm butonlardan "active" sınıfını kaldırın
            document.querySelectorAll("#typeButtons button").forEach(function (btn) {
                btn.classList.remove("active");
            });
            // Seçilen butona "active" sınıfını ekleyin
            this.classList.add("active");
        });
    });
</script>
<script>
    $(document).ready(function () {
        // Edit düğmesine tıklandığında
        $(".edit-button").click(function () {
            var row = $(this).closest("tr");
            row.find("td:not(:last-child)").addClass("edit-mode");

            var passwordField = row.find(".password-masked");
            var originalPasswordField = row.find(".original-password");
            var originalPassword = originalPasswordField.val();

            // Parola alanı için maskelemeyi kaldır
            passwordField.html('<input type="text" class="edit-password" value="' + originalPassword + '">');

            var typeField = row.find(".user-type");
            if (typeField.length) {
                var currentType = typeField.text().trim();
                typeField.html('<select class="edit-user-type"><option value="true">Admin</option><option value="false">User</option></select>');
                typeField.find("select").val(currentType.toLowerCase() === "admin" ? "true" : "false");
            }
            // Düzenleme modunu aç
            row.find(".edit-button").hide();
            row.find(".save-button, .cancel-button").show();
            row.find("td:not(:last-child)").attr("contenteditable", "true").addClass("edit-mode");
        });

        // Save düğmesine tıklandığında
        $(".save-button").click(function () {
            var row = $(this).closest("tr");

            // Değişiklikleri kaydet
            var userId = row.find(".user-id").val();
            var username = row.find("td:eq(0)").text();
            var passwordField = row.find(".password-masked");
            var editPasswordField = row.find(".edit-password");
            var originalPasswordField = row.find(".original-password");
            var newPassword = editPasswordField.val();

            // "IsAdmin" dropdown'dan seçilen değeri al
            var isAdmin = row.find(".edit-user-type").val() === "true";

            // Orijinal parolayı güncelle
            originalPasswordField.val(newPassword);
            passwordField.text(newPassword);

            // Bu bilgileri sunucuya göndermek için AJAX kullanın
            $.ajax({
                url: "/Home/EditUser",
                type: "POST",
                data: {
                    User_ID: userId,
                    Username: username,
                    Password: newPassword,
                    IsAdmin: isAdmin
                },
                success: function (result) {
                    // İşlem başarılıysa mesajı kaynak dosyasından al
                    const successMessage = '@Resources.L415';
                    $('#succesEditModalBody').text(successMessage);
                    $('#succesEditModal').modal('show');
                },
                error: function (error) {
                    alert("Hata oluştu:123 " + error.statusText);
                }
            });

            // Düzenleme modunu kapat
            row.find(".save-button, .cancel-button").hide();
            row.find(".edit-button").show();
            row.find("td:not(:last-child)").attr("contenteditable", "false").removeClass("edit-mode");

            // Parola alanını tekrar maskele
            passwordField.text('**********');

            // "IsAdmin" alanını seçime göre güncelle
            var typeField = row.find(".user-type");
            typeField.text(isAdmin ? "Admin" : "User");
        });

        // Cancel düğmesine tıklandığında
        $(".cancel-button").click(function () {
            var row = $(this).closest("tr");

            // Orijinal değeri geri yükleyin
            var passwordField = row.find(".password-masked");
            var originalPasswordField = row.find(".original-password");
            passwordField.html('**********'); // Parolayı maskeli hale getir

            // "IsAdmin" dropdown alanını orijinal metne çevirin
            var typeField = row.find(".user-type");
            var isAdmin = typeField.find("select").val() === "true";
            typeField.text(isAdmin ? "Admin" : "User");

            // Düzenleme modunu kapat
            row.find(".save-button, .cancel-button").hide();
            row.find(".edit-button").show();
            row.find("td:not(:last-child)").attr("contenteditable", "false").removeClass("edit-mode");
        });
        var userId; // userId değişkenini burada tanımlayın
        var row; // row değişkenini burada tanımlayın

        $(".delete-button").click(function () {
            row = $(this).closest("tr");
            userId = row.find(".user-id").val();
            $('#deleteConfirmationModal').modal('show');
        });

        $('#btnConfirmDelete').click(function () {
            $.ajax({
                url: "/Home/DeleteUser", // DeleteUser işleminin bulunduğu controller ve action'ın yolu
                type: "POST", // HTTP isteği türü (POST)
                data: { User_ID: userId },
                success: function (result) {
                    row.remove();
                    $('#deleteConfirmationModal').modal('hide');

                    // Başarılı silme modalını aç
                    $('#deleteSuccessModal').modal('show');
                },
                error: function () {
                    $('#deleteConfirmationModal').modal('hide');
                }
            });
        });

        // Başarılı silme modalını kapatma kodu
        $('#closeDeleteSuccessModalButton').click(function () {
            $('#deleteSuccessModal').modal('hide');
        });

        $("#table2-new-row-button").click(function () {
            // Alanları sıfırla
            $("#username").val("");
            $("#password").val("");
            $("#company").val("");
            $("#domain").val("");
            $(".error-message").text(""); // Hata mesajlarını temizle

            var creator = "@Session["UserName"]"; // Kullanıcı adını al
            var currentDateTime = new Date().toLocaleString();
            var companyId = "@Session["Company_ID"]".toString(); // Oturumdaki Company ID'sini al
            var sessionCompany = "@Session["Company_Name"]"; // Oturumdaki şirket adını al
            var sessionDomain = "@Session["Company_Domain"]"; // Oturumdaki şirket domainini al

            // Company ID 2 değilse alanları kilitle
            if (companyId !== "2") {
                $("#company").val(sessionCompany).prop("readonly", true);
                $("#domain").val(sessionDomain).prop("readonly", true);
            } else {
                $("#company").prop("readonly", false);
                $("#domain").prop("readonly", false);
            }
            // Modalda gösterilecek alanları ayarla
                $("#new-creator").val(creator).prop("readonly", true);
                $("#new-create-date").val(currentDateTime).prop("readonly", true);

                $("#newRecordModal").modal("show");
        });

        // Save butonuna tıklama işlemi
        $("#save-new-record").click(function () {
            var newUsername = $("#username").val();
            var newPassword = $("#password").val();
            var newType = $("#typeButtons button.active").data("type");
            var newCreator = $("#new-creator").val();
            var newCreateDate = $("#new-create-date").val();
            var companyName = $("#company").val();
            var companyDomain = $("#domain").val();

            // Şirket adı ve domain kontrolü
            $("#companyError").hide();
            if (!companyName) {
                $("#companyError").text("@Resources.L409").show();
                return;
            }

            var domainPattern = /^[a-zA-Z0-9-]+\.[a-zA-Z]{2,6}(\.[a-zA-Z]{2,6})?$/;
            $("#domainError").hide();
            if (!companyDomain || !domainPattern.test(companyDomain)) {
                $("#domainError").text("@Resources.L414").show();
                return;
            }

            // Verileri sunucuya gönderme
            $.ajax({
                url: "/Home/AddUser",
                type: "POST",
                data: {
                    Username: newUsername,
                    Password: newPassword,
                    Type: newType,
                    Creator: newCreator,
                    CreateDate: newCreateDate,
                    CompanyName: companyName,
                    CompanyDomain: companyDomain
                },
                success: function (result) {
                    if (result.success) {
                        $("#newRecordModal").modal("hide");
                        $('#successModal').modal('show');
                        $('#successModal').on('hidden.bs.modal', function () {
                            location.reload();
                        });
                    } else {
                        $(".error-message").text(result.message);
                    }
                },
                error: function (error) {
                    $(".error-message").text("@Resources.L338");
                    alert("Hata oluştu: " + error.statusText);
                    $("#newRecordModal").modal("hide");
                }
            });
        });
            // Domain alanını küçük harfe çevirme
            $("#domain").on("input", function () {
                this.value = this.value.toLowerCase();
            });
    });
</script>
<!--#endregion-->