@model KurulumWeb.Models.RegisteredDataModel
@using KurulumWeb.Resources
@{
    ViewBag.Title = "Ricon";
    Layout = "~/Views/Shared/RiconAdminLayoutPage.cshtml";
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}
<!--#region Head-->
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<!--#endregion-->
<!--#region Style-->
<style>
    #SaveRegister {
        margin-inline-start: 15px;
    }

    .modal-dialog {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card {
        margin-bottom: 1rem;
        height: 100%;
    }

    .card-container {
        display: flex;
    }

    #span {
        display: block;
    }

    #responsive-datatable tbody tr:hover {
        font-weight: bold;
    }

    .popup {
        display: none;
    }

    #dataTableModal .modal-dialog {
        max-width: none;
        width: 100%;
        height: 86%;
    }

    #dataTableModal .modal-content {
        height: 100%;
    }

    #dataTableModal .modal-body {
        max-height: 100%;
        overflow-y: auto;
        color: #000000;
    }

    #detailsModal .modal-dialog {
        max-height: 70vh;
    }

    #detailsModal .modal-body {
        max-height: 60vh;
        overflow-y: auto;
    }

    #responsive-datatable_wrapper {
        font-size: 12px;
    }

    #responsive-datatable {
        /* DataTable'ın içerik konteynerını hedefle */
        width: 100%;
        line-height: 1; /* Satır yüksekliğini ayarlayın */
    }

        #responsive-datatable tbody td {
            /* DataTable satır hücrelerini hedefle */
            padding: 5px 5px; /* Hücre içi padding değerlerini ayarlayın */
        }

        /* DataTable içindeki çift sıra numaralarını beyaz, tek sıra numaralarını gri yap */
        #responsive-datatable tbody tr:nth-child(even) {
            background-color: white;
        }

        #responsive-datatable tbody tr:nth-child(odd) {
            background-color: lightgrey;
        }

        /* DataTable içindeki satırlara hover özelliği ekleyin */
        #responsive-datatable thead th {
            padding: 1px; /* Başlık hücreleri içi padding değerini ayarlayın */
        }

        /* DataTable içindeki sütun başlıklarını daha sıkı bir hizalamaya sahip yapın */
        #responsive-datatable thead th {
            white-space: nowrap; /* Başlıkların fazla boşluk kullanmasını önleyin */
        }

        /* DataTable içindeki sütun başlıklarını birbirine yakınlaştırın */
        #responsive-datatable thead th {
            padding: 8px; /* Başlık hücreleri içi padding değerini ayarlayın */
            text-align: left; /* Başlık metnini ortala */
        }

    #detailsModal .modal-body {
        font-size: 12px; /* İstediğiniz punto boyutunu ayarlayın */
    }
</style>
<!--#endregion-->
<!--#region RegisterScript-->
<script>
    function validateFields() {
        var newGsmNo = $('#newGsmNo').val();
        var newSerino = $('#newSerino').val();
        var newiCompany_Name = $('#newiCompany_Name').val();
        var newiLokasyon = $('#newiLokasyon').val();

        $('.Error').text('');

        let isValid = true;

        if (!newGsmNo.trim()) {
            $('#newGsmNo').next('.Error').text("@Resources.L405");
            isValid = false;
        } else if (newGsmNo.length !== 12 || !newGsmNo.startsWith("90")) {
            $('#newGsmNo').next('.Error').text("@Resources.L406");
            isValid = false;
        }
        if (!newSerino.trim()) {
            $('#newSerino').next('.Error').text("@Resources.L407");
            isValid = false;
        } else if (newSerino.length !== 16) {
            $('#newSerino').next('.Error').text("@Resources.L408");
            isValid = false;
        }
        if (!newiCompany_Name.trim()) {
            $('#newiCompany_Name').next('.Error').text("@Resources.L409");
            isValid = false;
        }
        return isValid;
    }
    var errorMessage = "@Resources.L200";
    var saveConfirmationMessage = "@Resources.L349";

    $(document).ready(function () {
        $('#SaveRegister').click(function () {
            if (!validateFields()) {
                return
            }
            var newGsmNo = $('#newGsmNo').val();
            var newSerino = $('#newSerino').val();
            var newiCompany_Name = $('#newiCompany_Name').val();
            var newiLokasyon = $('#newiLokasyon').val();

            $('#modalSerino').text(newSerino);
            $('#modalGsmNo').text(newGsmNo);
            $('#modalCompanyName').text(newiCompany_Name);
            $('#modalLokasyon').text(newiLokasyon);

            $('#confirmModal').modal('show');

            $('#confirmSave').off('click').on('click', function () {
                $.ajax({
                    url: '@Url.Action("SaveRegister", "Home")',
                    type: 'POST',
                    data: {
                        GsmNo: newGsmNo,
                        SeriNo: newSerino,
                        Company_Name: newiCompany_Name,
                        Lokasyons: newiLokasyon,
                    },
                    success: function (data) {
                        if (data.success) {
                            $('#confirmModal').modal('hide');
                            window.location.href = '@Url.Action("RegisteredRouter", "Home")';
                        } else {
                            showModal(errorMessage, data.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        $('#errorModalMessage').text(errorMessage + ": " + error);
                        $('#errorModal').modal('show');
                    }
                });
            });
        });
    });
</script>
<!-- #endregion -->
<!--#region Main-->
<div class="main-content app-content mt-0">
    <div class="side-app">
        <!--#region CONTAINER -->
        <div class="main-container justify-content-center container-fluid">
            <div class="page-header"></div>
            <!--#region Gövde Card-->
            <div class="row justify-content-center">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-5 d-flex mb-3">
                        <div class="card flex-fill">
                            <div class="card-body">
                                <h3 class="card-title text-center text-blue" style="font-size:22px">@Resources.L269 </h3>
                                <div class="modal-body">
                                    <label for="newSerino">@Resources.L377</label>
                                    <input type="text" id="newSerino" class="form-control" placeholder="">
                                    <label class="Error" style="color: red;"></label>
                                </div>
                                <div class="modal-body">
                                    <label for="newGsmNo">@Resources.L141:</label>
                                    <input type="text" id="newGsmNo" class="form-control" placeholder="">
                                    <label class="Error" style="color: red;"></label>
                                </div>
                                <div class="modal-body">
                                    <label for="newiCompany_Name">@Resources.L375:</label>
                                    <input type="text" id="newiCompany_Name" class="form-control" value="@Session["Company_Name"]" readonly>
                                    <label class="Error" style="color: red;"></label>
                                </div>
                                <div class="modal-body">
                                    <label for="newiLokasyon">@Resources.L369:</label>
                                    <input type="text" id="newiLokasyon" class="form-control">
                                </div>
                                <button type="button" class="btn btn-primary" id="SaveRegister">@Resources.L294</button>
                            </div>
                        </div>
                    </div>
                    <!--#region GRAFIK -->
                    <div class="col-12 col-md-3 d-flex mb-3">
                        <div class="card flex-fill">
                            <div class="card-body">
                                <div>
                                    <div class="chartjs-wrapper-demo">
                                        <canvas id="recentorders" class="text-white chart-dropshadow" style="display: block; box-sizing: border-box; height: 335px; width: 100%;"></canvas>
                                    </div>
                                </div>
                                <span>
                                    <input id="opener" style="margin-bottom: 10px; margin-inline-start: 6%;" class="text-white btn btn-open-modal btn-primary btn info" type="button" value="@Resources.L304">
                                </span>
                                <div class="d-flex mb-4 mt-3">
                                    <div class="avatar avatar-md bg-transparent text-secondary bradius me-3">
                                        <i class="fe fe-check"></i>
                                    </div>
                                    <div>
                                        <h6 class="mb-1 fw-semibold">@Resources.L275</h6>
                                        <p class="fw-normal fs-12">
                                            <span class="text-success" id="installCountSpan"></span>
                                        </p>
                                    </div>
                                    <div class="ms-auto my-auto">
                                        <p class="fw-bold fs-20 text-success" id="ratioSpan"> % </p>
                                    </div>
                                </div>
                                <div class="d-flex mb-4 mt-3">
                                    <div class="avatar avatar-md bg-transparent text-secondary bradius me-3">
                                        <i class="fe fe-file-text"></i>
                                    </div>
                                    <div>
                                        <h6 class="mb-1 fw-semibold">@Resources.L410</h6>
                                        <p class="fw-normal fs-12">
                                            <span class="text-success" id="basicCountSpan"></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex mb-4 mt-3">
                                    <div class="avatar avatar-md bg-transparent text-secondary bradius me-3">
                                        <i class="fe fe-database"></i>
                                    </div>
                                    <div>
                                        <h6 class="mb-1 fw-semibold">@Resources.L411</h6>
                                        <p class="fw-normal fs-12">
                                            <span class="text-success" id="registeredCountSpan"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--#endregion-->
                </div>
                <!--#region Onay Modalı -->
                <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmModalLabel">@Resources.L379</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>@Resources.L377<span id="modalSerino"></span></p>
                                <p>@Resources.L141: <span id="modalGsmNo"></span></p>
                                <p>@Resources.L375: <span id="modalCompanyName"></span></p>
                                <p>@Resources.L369: <span id="modalLokasyon"></span></p>
                                <p>@Resources.L380</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="confirmSave">@Resources.L381</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.L264</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--#endregion-->
            </div>
            <!--#endregion-->
            <!--#region DataTable için Modal -->
            <div class="modal fade" id="dataTableModal" tabindex="-1" role="dialog" aria-labelledby="dataTableModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="dataTableModalLabel">@Resources.L305</h5>
                            <button aria-label="Close" class="btn-close close-button" data-bs-dismiss="modal" type="button" id="closeModal" style="color:red"> <i class="fas fa-times"></i></button>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive">
                                <table id="responsive-datatable" class="table dt-responsive nowrap" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th data-orderable="false">Install ID</th>
                                            <th class="wd-15p border-bottom-0">@Resources.L106</th>
                                            <th class="wd-15p border-bottom-0">@Resources.L369</th>
                                            <th class="wd-20p border-bottom-0">@Resources.L382</th>
                                            <th class="wd-15p border-bottom-0">@Resources.L343</th>
                                            <th class="wd-25p border-bottom-0">@Resources.L141</th>
                                            <th class="wd-25p border-bottom-0">@Resources.L383</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- DataTable satırları burada doldurulacak -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="file" id="fileInput" style="display: none;">
                            <button type="button" class="btn btn-primary" id="downloadButton1">@Resources.L348</button>
                            <button type="button" class="btn btn-primary" style="display:none;" id="downloadButton1">@Resources.L348</button>
                            <button type="button" class="btn close-button btn-secondary" data-bs-dismiss="modal">@Resources.L261</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--#endregion-->
            <!--#endregion-->
            <!--#region Detail Modal-->
            <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="detailsModalLabel">@Resources.L336</h5>
                            <button aria-label="Close" class="btn-close close-button" data-bs-dismiss="modal" type="button" id="closeDetailsModal" style="color:red"> <i class="fas fa-times"></i></button>
                        </div>
                        <div class="modal-body">
                            <!-- Detay içeriğini burada gösterin -->
                            <div id="detailsContent"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn close-button btn-secondary" data-bs-dismiss="modal">@Resources.L261</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--#endregion-->
        </div>
    </div>
</div>
<!--#endregion-->
<!--#region Grafik Excel Aktarma Scripti-->
<script>
    $(document).ready(function () {
        $("#downloadButton1").click(function () {
            var headers = [];
            var dataRows = [];
            $("#responsive-datatable thead th").each(function () {
                headers.push($(this).text());
            });

            $("#responsive-datatable tbody tr").each(function () {
                var rowData = [];
                $(this).find("td").each(function () {
                    rowData.push($(this).text());
                });
                dataRows.push(rowData);
            });
            var jsonData = {
                Headers: headers,
                Rows: dataRows
            };
            $.ajax({
                url: '/Home/ExportToExcel',
                type: 'POST',
                data: { data: JSON.stringify(jsonData) },
                success: function (response) {
                    if (response.success) {
                        window.location.href = '/Home/DownloadExcel';
                    } else
                    {
                    document.getElementById("errorModalMessage").textContent = "@Resources.L349" + response.error;
                    $("#errorModal").modal("show");
                }
                },
                error: function () {
                    document.getElementById("errorModalMessage").textContent = "@Resources.L349" + response.error;
                    $("#errorModal").modal("show");
                }

            });
        });
    });
</script>
<!--#endregion-->
<!--#region Checkbox Validate -->
<script>
    function validatesAndHandle(checkboxsId) {
        // İlk olarak validate işlevini çağırabilirsiniz
        validates(checkboxId);

        // Ardından handleCheckboxChange işlevini çağırabilirsiniz
        handlesCheckboxChange(checkboxsId);
    }
    function handleLocationChange() {

        var multi2Checkbox = document.getElementById("chkMulti2");
        var multi3Checkbox = document.getElementById("chkMulti3");
        var locationDropdown = document.getElementById("Location");
        var locationValue = document.getElementById("LocationValue");

        if (!multi2Checkbox.checked && !multi3Checkbox.checked && locationDropdown.selectedIndex > 0) {
            var selectedLocation = locationDropdown.options[locationDropdown.selectedIndex].text;
            locationValue.innerHTML = "Will be recorded as: <strong>" + selectedLocation + "-1</strong>";
        } else {

            locationValue.textContent = "";
        }
    }
    document.addEventListener("DOMContentLoaded", function () {
        var multi2Checkbox = document.getElementById("chkMulti2");
        var multi3Checkbox = document.getElementById("chkMulti3");
        var locationDropdown = document.getElementById("Location");
        var locationValue = document.getElementById("LocationValue");

        multi2Checkbox.addEventListener("change", function () {
            var selectedLocation = locationDropdown.options[locationDropdown.selectedIndex].text;
            if (multi2Checkbox.checked) {

                multi3Checkbox.checked = false;
                if (locationDropdown.selectedIndex != 0) {
                    locationValue.innerHTML = "Will be recorded as: <strong>" + selectedLocation + "-2</strong>";
                } else {
                    locationValue.textContent = "";
                    handleLocationChange();

                }
            } else {
                locationValue.textContent = "";
                handleLocationChange();

            }
        });
        multi3Checkbox.addEventListener("change", function () {
            var selectedLocation = locationDropdown.options[locationDropdown.selectedIndex].text;
            if (multi3Checkbox.checked) {

                multi2Checkbox.checked = false;
                if (locationDropdown.selectedIndex != 0) {
                    locationValue.innerHTML = "Will be recorded as: <strong>" + selectedLocation + "-3</strong>";
                } else {
                    locationValue.textContent = "";
                    handleLocationChange();

                }
            } else {
                locationValue.textContent = "";
                handleLocationChange();

            }
        });
    });
</script>
<!--#endregion-->
<!--#region DataTable Scripti-->
<script>
    $(document).ready(function () {
        var table;
        $("#opener").click(function () {
            $("#dataTableModal").modal("show");
            if (!table) {
                table = $('#responsive-datatable').DataTable({
                    columns: [
                        { data: "Install_ID", visible: false, orderable: true },
                        { data: "Ricon_SN" },
                        { data: "Site_Name" },
                        {
                            data: "Date_Time",
                            render: function (data) {
                                var aspNetDate = new Date(parseInt(data.substr(6)));
                                return aspNetDate.toLocaleString();
                            }
                        },
                        { data: "Username" },
                        { data: "GSM_No" },
                        {
                            // Her satırın son sütununda bulunan göz ikonu
                            data: null,
                            defaultContent: '<i class="fa fa-eye details-icon"></i>'
                        }
                    ],
                    pageLength: 20,
                    lengthMenu: [20, 25, 50, 100],
                    rowCallback: function (row, data, index) {
                        if (index % 2 === 0) {
                            $(row).css('background-color', 'white');
                        } else {
                            $(row).css('background-color', 'lightgrey');
                        }
                    },
                    order: [[0, 'desc']]
                });
                $("#dataTableModal").on('shown.bs.modal', function () {
                    $('#responsive-datatable_filter input').val('');
                    table.search('').draw();
                    table.order([]).draw();
                });
            }
            $.ajax({
                url: "/Home/DeviceInstallationData",
                method: "GET",
                success: function (data) {
                    console.log(data);
                    table.clear().rows.add(data).draw();
                },
                error: function (error) {
                    $('#errorModalMessage').text(""+error.responseText);
                    $('#errorModal').modal('show');
                }

            });
        });
        // Satıra çift tıklama işlevi
        var touchtime = 0;
        $('#responsive-datatable tbody').on('touchend', 'tr', function () {
            if (touchtime === 0) {
                // İlk dokunma olayı
                touchtime = new Date().getTime();
            } else {
                // İkinci dokunma olayı
                if (((new Date().getTime()) - touchtime) < 300) {
                    // Çift tıklama işlevi
                    var rowData = table.row(this).data();
                    if (rowData) {
                        openDetailsModal(rowData);
                    }
                    touchtime = 0; // Dokunma süresini sıfırla
                } else {
                    // İkinci dokunma, ancak çift tıklama değil
                    touchtime = new Date().getTime();
                }
            }
        });
        // Satırın üzerine gelme ve çıkma işlevleri
        $('#responsive-datatable tbody').on('mouseenter', 'tr', function () {
            $(this).css('cursor', 'pointer'); // Mouse imleci şeklini değiştir

        });

        $('#responsive-datatable tbody').on('mouseleave', 'tr', function () {
            $(this).css('cursor', 'default'); // Mouse imleci şeklini varsayılana geri çevir

        });

        // Satıra çift tıklama işlevi
        $('#responsive-datatable tbody').on('dblclick', 'tr', function () {
            var rowData = table.row(this).data();
            if (rowData) {
                openDetailsModal(rowData);
            }
        });

        // Göz ikonuna tıklama işlevi
        $('#responsive-datatable tbody').on('click', '.details-icon', function (e) {
            e.stopPropagation(); // Satıra tıklama işlemini durdur
            var rowData = table.row($(this).closest('tr')).data();

            if (rowData) {
                openDetailsModal(rowData);
            }
        });
        // Detay Modal'ını gizleme
        $('#detailsModal').on('hidden.bs.modal', function () {
        });
        // Satırdaki göz ikonlarına tıklanınca detay modalini aç
        function openDetailsModal(rowData) {
            var operatorName = rowData.Operator;
            var gsmNo = rowData.GSM_No;

            if (rowData) {
                var operatorName = rowData.Operator;
                var gsmNo = rowData.GSM_No;
                   $.ajax({
                       url: "/Home/GetOperatorDetails",
                       method: "GET",
                       data: { operatorName: operatorName, gsmNo: gsmNo },
                       success: function (result) {
                           if (result.success) {
                               var modalBody = $("#detailsModal").find(".modal-body");
                               modalBody.empty(); // Önceki içeriği temizle

                               var L106 = "@Resources.L106";
                               var L141 = "@Resources.L141";
                               var L369 = "@Resources.L369";
                               var L100 = "@Resources.L100";
                               var L129 = "@Resources.L129";

                               for (var i = 0; i < result.data.length; i++) {
                                   var jsonData = result.data[i];
                                   modalBody.append("<p><strong>" + L106 + ":</strong> " + jsonData.Ricon_SN + "</p>");
                                   modalBody.append("<p><strong>" + L141 + ":</strong> " + jsonData.GSM_No + "</p>");
                                   modalBody.append("<p><strong>" + L369 + ":</strong> " + jsonData.Site_Name + "</p>");
                                   modalBody.append("<p><strong>" + L100 + ":</strong> " + jsonData.Username + "</p>");
                                   modalBody.append("<p><strong>" + L129 + ":</strong> " + jsonData.Date_Time + "</p>");
                                   modalBody.append("<hr>"); // Her veri öğesinden sonra bir ayrım çizgisi bırakın
                                   modalBody.append("<br>"); // Her veri öğesinden sonra bir satır boşluk bırakın
                               }
                               $("#detailsModal").modal("show");
                           } else {
                               document.getElementById("errorModalMessage").textContent = result.message;
                               $("#errorModal").modal("show");
                           }
                       },
                       error: function (error) {
                           document.getElementById("errorModalMessage").textContent = "Error occurred: " + error.responseText;
                           $("#errorModal").modal("show");
                       }
                 });
            }
        }
    });
</script>
<!--#endregion-->
<!--#region Tarih Format Scripti-->
<script>
    function formatUnixTimestamp(unixTimestamp) {
        // Unix zaman damgasını milisaniyeden saniyeye çevirin
        var seconds = unixTimestamp / 1000;

        // Unix zaman damgasını JavaScript tarih nesnesine dönüştürün
        var date = new Date(seconds * 1000);

        // Tarih ve saat formatını özelleştirin (örneğin: "dd/MM/yyyy HH:mm:ss")
        var formattedDate = date.toLocaleString("en-US", {
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit"
        });
        return formattedDate;
    }
</script>
<!--#endregion-->
<!--#region Confirm Modal Kapatma-->
<script>
    $(document).ready(function () {
        // İptal butonuna tıklandığında modalı kapat
        $('#confirmModal .btn-secondary').on('click', function () {
            $('#confirmModal').modal('hide');
        });
    });
</script>
<!--#endregion-->
<!--#region Kurulum Modal Scriptleri -->
@if (ViewBag.SmsMessage != null)
{
    <script type="text/javascript">
                window.onload = function () {
                    $('#loaderAnim').hide();
                        $("#dialogsms").show({
                        autoOpen: true,
                        resizable: true,
                        height: "auto",
                        width: 400,
                        modal: true

                    });
                    $("#closeSms").on("click", function () {

                        $("#dialogsms").hide();

                         window.location = "@Url.Action("RiconAdmin", "Home")";
                    });

                }
    </script>
}

@if (ViewBag.CaseMessageOK != null)
{
    <script type="text/javascript">
            window.onload = function () {
                $('#loaderAnim').hide();
                $("#dialogcaseOk").show({
                    autoOpen: true,
                    resizable: true,
                    height: "auto",
                    width: 400,
                    modal: true
                });
                $("#closeActivation").on("click", function () {
                    // Modal pencereyi kapat
                    $("#dialogcaseOk").hide();
                    window.location = "@Url.Action("RiconAdmin", "Home")";

                });

            }
    </script>
}
@if (ViewBag.Operator != null)
{
    <script type="text/javascript">
            window.onload = function () {
                $('#loaderAnim').hide();
                $("#Operator").show({
                    autoOpen: true,
                    resizable: true,
                    height: "auto",
                    width: 400,
                    modal: true
                });
                $("#closeOperator").on("click", function () {
                    // Modal pencereyi kapat
                    $("#Operator").hide();
                    window.location = "@Url.Action("RiconAdmin", "Home")";

                });

            }
    </script>
}

@if (ViewBag.CaseMessageYesNo != null)
{
    <script type="text/javascript">
        window.onload = function () {
            $("#dialogcaseConfirm").show({
                autoOpen: true,
                resizable: true,
            });
            $("#dialogActivation").on("click", function () {
                // "Onayla" düğmesine tıklanınca
                $("#dialogcaseConfirm").hide(); // Onaylama penceresini gizle
                $('#loadingModal').modal('show'); // Yükleniyor penceresini göster
                document.getElementById('btn_start').setAttribute("disabled", "disabled");
                $('#loadingModal').modal('show');
                // AJAX isteğini burada yapabilirsiniz
                $.ajax({
                    url: '/Home/GetConfirm',
                    type: 'POST',
                    success: function (data) {
                        console.log(data)
                        $('#loaderAnim').hide();
                        document.getElementById('btn_start').removeAttribute("disabled");
                        $('#loadingModal').hide();
                        window.location = "@Url.Action("RiconAdmin", "Home")";
                    },
                    error: function (data) {
                        $('#loaderAnim').hide();
                    }
                });
            });
            $("#cancelActivation").on("click", function () {
                $("#dialogcaseConfirm").hide();
                window.location = "@Url.Action("RiconAdmin", "Home")";
            });
        };
    </script>
}

@if (ViewBag.StartOKMessageUpdate != null)
{
    <script type="text/javascript">
            window.onload = function () {
                /* $('#loaderAnim').hide();*/
                $("#dialogStartOkMessageUpdate").show({
                    autoOpen: true,
                    resizable: true,
                });
                $("#confirmActivation").on("click", function () {
                    $("#dialogStartOkMessageUpdate").hide();
                    $('#loadingModal').modal('show');
                    document.getElementById('btn_start').setAttribute("disabled", "disabled");
                    $('#loadingModal').modal('show');
                    $.ajax({
                        url: '/Home/StartOkUpdate',
                        type: 'POST',
                        success: function (data) {
                            $('#loaderAnim').hide();
                            document.getElementById('btn_start').removeAttribute("disabled");
                            $('#loadingModal').hide();
                            window.location = "@Url.Action("RiconAdmin", "Home")";
                        },
                        error: function (data) {
                            $('#loaderAnim').hide();
                        }
                    });
                });
                $("#cancelUpdate").on("click", function () {
                    // Modal pencereyi kapat
                    $("#dialogcaseConfirm").hide();
                     window.location = "@Url.Action("RiconAdmin", "Home")";
                });
            }
    </script>
}

@if (ViewBag.StartOKMessage != null)
 {
    <script type="text/javascript">
            window.onload = function () {
                $("#dialogStartOkMessage").show({
                    autoOpen: true,
                    resizable: true,
                });
                $("#startOkActivation").on("click", function () {
                    $("dialogStartOkMessage").hide();
                    $('loadingModal').modal('show');
                    $("#dialogStartOkMessage").hide();
                    document.getElementById('btn_start').setAttribute("disabled", "disabled");
                    $('#loadingModal').modal('show');
                    $.ajax({
                        url: '/Home/StartOk',
                        type: 'POST',

                        success: function (data) {
                            $('#loaderAnim').hide();
                            document.getElementById('btn_start').removeAttribute("disabled");
                            $('#loadingModal').hide();
                            window.location = "@Url.Action("RiconAdmin", "Home")";

                        },
                        error: function (data) {
                            $('#loaderAnim').hide();
                        }
                    });
                });
                    $("#StartOkCancel").on("click", function () {
                    // Modal pencereyi kapat
                    $("#dialogStartOkMessage").hide();
                    window.location = "@Url.Action("RiconAdmin", "Home")";
    });
            }
    </script>
 }
<!--#endregion-->
<!--#region Sonuc Mesaj Script-->
<script type="text/javascript">
    $(document).ready(function () {
        var sonucLabel = $("#text");
        var sonucText = "@Html.Raw(ViewBag.Sonuc)";
        var lines = sonucText.split(/\r?\n/);
        sonucLabel.css("font-size", "11px");
        setTimeout(function () {
            sonucLabel.fadeOut("slow", function () {
                sonucLabel.empty(); // İçeriği temizle
            });
        }, 10000); // 10 saniye (10000 milisaniye)
        // Sayfa yüklendiğinde kapat butonunu gizle
        // Sayfa yüklendiğinde fonksiyonu çağırın
        window.onload = checkResultMessage;
    });
</script>
<!--#endregion-->
<!--#region Kurulum Modalları-->
<div id="dialogStartOkMessageUpdate" class="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@ViewBag.InfoTitle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>@ViewBag.StartOKMessageUpdate</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmActivation">@Resources.L279</button>
                <button type="button" class="btn btn-secondary" id="cancelUpdate" data-bs-dismiss="modal">@Resources.L280</button>
            </div>
        </div>
    </div>
</div>
<div id="dialogStartOkMessage" class="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@ViewBag.InfoTitle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>@ViewBag.StartOKMessage</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="startOkActivation">@Resources.L279</button>
                <button type="button" class="btn btn-secondary" id="StartOkCancel" data-bs-dismiss="modal">@Resources.L280</button>
            </div>
        </div>
    </div>
</div>
<div id="dialogcaseConfirm" class="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@ViewBag.InfoTitle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>@ViewBag.CaseMessageYesNo</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="dialogActivation">@Resources.L279</button>
                <button type="button" class="btn btn-secondary" id="cancelActivation" data-bs-dismiss="modal">@Resources.L280</button>
            </div>
        </div>
    </div>
</div>
<div id="dialogcaseOk" class="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@ViewBag.InfoTitle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>@ViewBag.CaseMessageOK</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="closeActivation">@Resources.L279</button>
            </div>
        </div>
    </div>
</div>
<div id="dialogsms" class="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@ViewBag.InfoTitle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>@ViewBag.SmsMessage</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="closeSms">@Resources.L352</button>
            </div>
        </div>
    </div>
</div>
<div id="Operator" class="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@ViewBag.InfoTitle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>@Resources.L353</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="closeOperator">@Resources.L352</button>
            </div>
        </div>
    </div>
</div>
<div id="warningdialog" title="@Resources.L201">
    <p id="checkboxmessage" />
</div>
<!--#endregion-->
<!--#region Hata Modalı-->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">@Resources.L200</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="errorModalMessage"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Resources.L261</button>
            </div>
        </div>
    </div>
</div>
<!--#endregion-->